PORT=3001
DATABASE_URL=postgres://wz:wz@localhost:5432/wz_dev
JWT_SECRET=change-me-in-production
WOOCOMMERCE_BASE_URL=https://finespirits.pl
WOOCOMMERCE_CONSUMER_KEY=ck_xxx
WOOCOMMERCE_CONSUMER_SECRET=cs_xxx
MF_NIP_API_BASE_URL=https://wl-api.mf.gov.pl
ISSUER_NAME=Fine Spirits Sp. z o.o.
ISSUER_ADDRESS=ul. Przykladowa 1, 00-001 Warszawa
PDF_STORAGE_DIR=./storage/pdfs
